{% extends 'truthlist/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h3># {{question.question}}</h1>
    {% if reasons %}
        <p class="mt-4">I believe this because:</p>
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Assertions</th>
                <th scope="col">Agree</th>
                <th scope="col">Disagree</th>
                <th scope="col">No Comment</th>
            </tr>
            </thead>
            <tbody>

                {% for data in reasons %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ data.reason }}</td>
                    <td>
                        <input class="radio-btn" type="radio" name="{{ data.id }}" value="agree">
                    </td>
                    <td>
                        <input class="radio-btn" type="radio" name="{{ data.id }}" value="disagree">
                    </td>
                    <td>
                        <input class="radio-btn" type="radio" name="{{ data.id }}" value="no_comment">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mt-3 ml-5">No assertions found.</p>
    {% endif %}

    <form class="card p-3">
        <p>If you believe, share your reasons.</p>
        <div class="form-group">
            <label for="reason">Reason</label>
            <textarea class="form-control" id="reason" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="file">File</label>
            <input type="file" class="form-control-file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}